:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
/* elementos base*/
body{
    background-color:var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.Logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial Black ,Times;
    font-size:  40px;
}

header nav a{
    text-decoration: none;
    color: lightgray;
    margin-right: 10px;
}

nav a:hover{
    color: #fff;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/2.jpg);

    height: 600px;
    width: 1320px;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;
}

.titulo{
    margin-top: 15%;
    font-size:  40px;
    font-family: sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    padding: 15px 90px;
    border: none;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}


.container{
    margin-left: 20px;
    
}

.filme-principal .container{
    width: 80%;
}


.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}





















/*Wrapper envelopar*/ 
