:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
/* elementos base*/
body{
    background-color:var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.Logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial Black ,Times;
    font-size:  40px;
}

header nav a{
    text-decoration: none;
    color: lightgray;
    margin-right: 10px;
}

nav a:hover{
    color: #fff;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/2.jpg);

    height: 600px;
    width: 1100px;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-bottom: 90px;
}

.titulo{
    font-size:  40px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    
    padding: 15px 30px;
}